{{ include "berserk-common.configmap.metadata" . }}
data:
  config.yaml: |
    bind: "0.0.0.0:{{ .Values.service.port }}"
    database_url: ${META_DATABASE_URL}
    {{- $storageEndpoint := .Values.config.storageEndpoint | default .Values.global.storage.endpoint }}
    {{- $storageBucket := .Values.config.storageBucket | default .Values.global.storage.bucket }}
    {{- $storageRegion := .Values.config.storageRegion | default .Values.global.storage.region }}
    {{- if $storageEndpoint }}
    storage_endpoint: {{ $storageEndpoint | quote }}
    storage_bucket: {{ $storageBucket | quote }}

    {{- end }}
    {{- include "berserk-common.observability-config" . | nindent 4 }}
