{{- include "berserk-common.deployment.header" . }}
      containers:
        - name: meta
          image: {{ include "berserk-common.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.imagePullPolicy | default "Always" }}
          command: ["/meta_bin"]
          args:
            - "--config"
            - "/config/config.yaml"
          ports:
            - containerPort: {{ .Values.service.port }}
              name: http
              protocol: TCP
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: META_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.postgresCredentials.secretName }}
                  key: {{ .Values.global.postgresCredentials.databaseUrlKey }}
            - name: RUST_BACKTRACE
              value: "1"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /health/live
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          startupProbe:
            httpGet:
              path: /health/started
              port: http
            failureThreshold: 30
            periodSeconds: 3
          volumeMounts:
            {{- include "berserk-common.volumeMount.config" . | nindent 12 }}
      volumes:
        {{- include "berserk-common.volume.config" . | nindent 8 }}
