{{- $secretName := printf "%s-cookie-secret" (include "berserk-common.fullname" .) }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- $cookieSecret := "" }}
{{- if .Values.cookieSecret.value }}
  {{- $cookieSecret = .Values.cookieSecret.value | b64enc }}
{{- else if and $existingSecret $existingSecret.data }}
  {{- $cookieSecret = index $existingSecret.data "UI_COOKIE_SECRET" }}
{{- else }}
  {{- $cookieSecret = randAlphaNum 32 | b64enc }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "berserk-common.labels" . | nindent 4 }}
type: Opaque
data:
  UI_COOKIE_SECRET: {{ $cookieSecret }}
