# Default values for query service
replicaCount: 1
component: backend

image:
  repository: query
  pullPolicy: Always
  tag: ""

service:
  type: ClusterIP
  port: 9510

cache:
  enabled: true
  size: "128Gi"
  storageClass: ""

resources:
  requests:
    memory: "1Gi"
    cpu: "12000m"
  limits:
    memory: "32Gi"
    cpu: "24000m"

config:
  metaEndpoint: "http://meta:9500"
  storageEndpoint: ""
  storageBucket: ""
  storageRegion: "auto"
  observability:
    serviceName: "query"
    logLevel: "info"
    otlpEnabled: false
    otlpEndpoint: ""
