{{ include "berserk-common.configmap.metadata" . }}
data:
  config.yaml: |
    bind: "0.0.0.0:9502"
    meta_endpoint: {{ .Values.config.metaEndpoint | quote }}
    query_endpoint: {{ .Values.config.queryEndpoint | quote }}
    cloud_storage_access_key: ${JANITOR_STORAGE_ACCESS_KEY:not-set}
    cloud_storage_secret_key: ${JANITOR_STORAGE_SECRET_KEY:not-set}
    storage_region: {{ .Values.config.storageRegion | quote }}
    merger:
      interval_seconds: {{ .Values.config.mergerIntervalSeconds }}
    {{- include "berserk-common.observability-config" . | nindent 4 }}
    {{- $defaultDataset := .Values.global.defaultDataset | default "default" }}
    probe_jobs:
      - name: "default_take_one"
        query: "{{ $defaultDataset }} | take 1"
        interval_seconds: 60
        since: "1h ago"
      - name: "total_count"
        query: "{{ $defaultDataset }} | count"
        since: "40d ago"
        interval_seconds: 631
