{{ include "berserk-common.configmap.metadata" . }}
data:
  config.yaml: |
    bind: "0.0.0.0:{{ .Values.service.port }}"
    meta_endpoint: {{ .Values.config.metaEndpoint | quote }}
    cloud_storage_access_key: ${AWS_ACCESS_KEY_ID:not-set}
    cloud_storage_secret_key: ${AWS_SECRET_ACCESS_KEY:not-set}

    {{- if .Values.cache.enabled }}
    segment_cache:
      path: "/segment_cache"
      size_limit: {{ .Values.cache.sizeLimit | quote }}
    {{- end }}
    {{- include "berserk-common.observability-config" . | nindent 4 }}
